[Unit]
Description=daemon for "pushstat.sh"
After=network.target

[Service]
ExecStart=/usr/local/bin/pushstat -c /etc/pushstat/config.ini
Restart=always

[Install]
WantedBy=multi-user.target